<?xml version="1.0"?>
<config>
  <modules>
    <TadeuRodrigues_GTmetrix>
      <version>0.1.0</version>
    </TadeuRodrigues_GTmetrix>
  </modules>
  <global>
    <helpers>
      <gtmetrix>
        <class>TadeuRodrigues_GTmetrix_Helper</class>
      </gtmetrix>
    </helpers>
    <blocks>
      <gtmetrix>
        <class>TadeuRodrigues_GTmetrix_Block</class>
      </gtmetrix>
    </blocks>
    <models>
      <gtmetrix>
        <class>TadeuRodrigues_GTmetrix_Model</class>
        <resourceModel>gtmetrix_mysql4</resourceModel>
      </gtmetrix>
      <gtmetrix_mysql4>
        <class>TadeuRodrigues_GTmetrix_Model_Mysql4</class>
        <entities>        
              <gtmetrix>
                <table>gtmetrix_test</table>
              </gtmetrix>
        </entities>
      </gtmetrix_mysql4>
    </models>
    <resources>
      <gtmetrix_setup>
        <setup>
          <module>TadeuRodrigues_GTmetrix</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </gtmetrix_setup>
      <gtmetrix_write>
        <connection>
          <use>core_write</use>
        </connection>
      </gtmetrix_write>
      <gtmetrix_read>
        <connection>
          <use>core_read</use>
        </connection>
      </gtmetrix_read>
    </resources>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <gtmetrix before="Mage_Adminhtml">TadeuRodrigues_GTmetrix_Adminhtml</gtmetrix>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <gtmetrix module="gtmetrix">
        <title>GTmetrix</title>
        <sort_order>100</sort_order>
        <children>
          <gtmetrix module="gtmetrix">
            <title>Manage GTmetrix</title>
            <sort_order>0</sort_order>
            <action>adminhtml/gtmetrix_gtmetrix</action>
          </gtmetrix>
        </children>
      </gtmetrix>
    </menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <gtmetrix translate="title" module="gtmetrix">
              <title>GTmetrix</title>
              <sort_order>1000</sort_order>
              <children>
          <gtmetrix translate="title">
            <title>Manage GTmetrix</title>
            <sort_order>0</sort_order>
          </gtmetrix>
              </children>
            </gtmetrix>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <gtmetrix>
          <file>gtmetrix.xml</file>
        </gtmetrix>
      </updates>
    </layout>
  </adminhtml>
</config> 